@model coveo2014.Models.PageModel<KeyValuePair<coveo2014.Domain.Artist, IList<coveo2014.Domain.Album>>>

@{
    ViewBag.Title = "Coveo Blitz 2014 - Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" class="container">
    <div class="row">
        <div id="leftBar" class="col-md-1">

            @{
                foreach (var facet in Model.AvailableFacets)
                {
                    Html.RenderPartial("ListFacet", facet);
                }
            }
            
        </div>
        <div id="rightContent" class="col-md-11">
            <div id="contentTitle"class="row">
                <div class="col-md-12"><h1>Choisir un Artiste</h1></div>
            </div>
            <div id="contentSortChoice" class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Popular</a></li>
                    <li><a href="#">A-Z</a></li>
                </ul>
            </div>
            
            

            @foreach(var artist in Model.Items)
            {
                <a href="/Home/Artist?id=@artist.Key.Id"><div class="genderBox">
                    <div class="albumsBox">
                        @foreach (var j in artist.Value.Take(4))
                        {
                            <div class="albumArt" data-artist="@artist.Key.Name" data-album="@j.Name"></div>
                        }
                    </div>
                    <div class="row">
                        <div class="genderTitle col-md-12">@artist.Key.Name</div>
                    </div>
                    <div class="row">
                        <div class=" artistList col-md-12">@string.Join(", ", artist.Value.Take(4).Select(x => x.Name))</div>
                    </div>
                </div></a>
            }
            

        </div>
    </div>
</div>
