@model coveo2014.Models.PageModel<coveo2014.Models.Genre>

@{
    ViewBag.Title = "Coveo Blitz 2014 - Les Chiens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" class="container">
    <div class="row">
        <div id="leftBar" class="col-md-1">

            @{
                foreach (var facet in Model.AvailableFacets)
                {
                    Html.RenderPartial("ListFacet", facet);
                }
            }
            
        </div>
        <div id="rightContent" class="col-md-11">
            <div id="contentTitle"class="row">
                <div class="col-md-12"><h1>Choisir un genre</h1></div>
            </div>
            <div id="contentSortChoice" class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Popular</a></li>
                    <li><a href="#">A-Z</a></li>
                </ul>
            </div>
            
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <a href="Home/Genres/@Model.Items[i].Name"><div class="genderBox">
                    <div class="albumsBox">
                        @foreach (var j in Model.Items[i].AlbumArtist)
                        {
                            <div class="albumArt" data-artist="@j.Value" data-album="@j.Key"></div>
                        }
                    </div>
                    <div class="row">
                        <div class="genderTitle col-md-12">@Model.Items[i].Name</div>
                    </div>
                    <div class="row">
                        <div class=" artistList col-md-12">@string.Join(", ", Model.Items[i].AlbumArtist.Values)</div>
                    </div>
                </div></a>
            }
            

        </div>
    </div>
</div>
