@model IList<string>

@{
    ViewBag.Title = "Coveo Blitz 2014 - Les Chiens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello, world!</h2>

@{
    foreach (var genre in Model)
    {
        <h4>@genre</h4>
    }
}
